

* {
  box-sizing: border-box;
  margin: 0;
  list-style: none;
}

main {
  min-height: var(--mainSize);
  @media(max-width: 500px){
    padding-top: 5rem;
  }
}

header {
  min-height: var(--headerSize);
}

footer {
  min-height: var(--footerSize);
}

body {
  background-color: var(--white);
  color: var(--black);
  text-wrap: pretty;
} 

body, button, textarea {
  font-family: 'Aeonik' !important;
}

/* TITLE WEBSITE */
h1 { 
  font-size: var(--textL1);
  margin-inline: auto;
}
/* TITLE PAGE */
h2 {
  font-size: var(--textL2);
}
/* TITLE SECTION */
h3 {
  font-size: var(--textM1);
}
/* TITLE COMPONENT */
h4 {
  font-size: var(--textM2);
}

h1, h2, h3, h4 {
  width: max-content;
  color: var(--purple);
}

p {
  font-size: var(--textBody);
  line-height: 1.6rem;

  word-wrap: break-word;
  overflow-wrap: break-word;
  max-width: max-content;
}

.containerPpal {
  width: var(--widthPage);
  margin-inline: auto;
  padding-block: var(--size3);
  /* background-color: rgb(115, 141, 141); */
  
  @media (max-width: 1250px) {
    width: 90%;
  }
  @media (max-width: 500px) {
    width: 100%;
    padding-inline: 10%;
  }
}

.errorMsg {
  color: var(--magenta);
  font-weight: 600;
}

button {
  width: max-content;
  font-size: var(--textSize5);
  font-weight: 600;
  border: none;
  border-radius: var(--size05);
  padding-inline: var(--size1);
  padding-block: var(--size05);    
  background-color: var(--aqua);
  color: var(--white);
  
  &:hover {
    background-color: var(--mandarina);
  }
}

.buttons {
  display: flex;
  justify-content: center;
  gap: var(--size05);
}

.accept {
  background-color: var(--aqua);
  &:hover {
    background-color: var(--mandarina);
  }
}

.cancel {
  background-color: var(--purple);
  &:hover {
    background-color: var(--magenta);
  }
}

.applied {
  background-color: var(--mandarina);
}

.edit {
  background-color: var(--mandarina);
  &:hover {
    background-color: var(--aqua);
  }
}

.disabled {
  background-color: var(--aqua);
  &:hover {
    background-color: var(--aqua);
  }
}

.tagsContainer {
  display: flex;
  column-gap: var(--size05);
  row-gap: var(--size05);
  flex-wrap: wrap;
}

.tag {
  width: max-content;
  border-radius: var(--size2);
  padding-inline: var(--size1);
  height: 1.5rem;
  background-color: var(--purple);
  color: var(--white);
  cursor: pointer;

  display: flex;
  gap: var(--size05);
  align-items: center;

  &:hover {
    background-color: var(--magenta);
  }
}

.tagDeleteable {
  width: max-content;
  border-radius: var(--size2);
  padding-inline: var(--size1);
  height: 1.5rem;
  background-color: var(--purple);
  color: var(--white);
  cursor:pointer;
  
  display: flex;
  gap: var(--size05);
  align-items: center;

  &:hover{
    background-color: var(--purple);
  }

  .deleteBtn {
    font-weight: bold;
    font-size: var(--textM2);

    &:hover {
      color: var(--magenta);
    }
  }
}

.separatorThick {
  width: 100%;
  border-bottom: 7px solid var(--purple);
  margin-inline: auto;
}
.separatorMid {
  width: 100%;
  border-bottom: 4px solid var(--purple);
}

ul {
  padding: 0;
}

.separatorProjects {
  width: 100%;
  border-bottom: 4px solid var(--aqua);
  margin-inline: auto;
}

.logo {
  object-fit: contain;
}

.messageIcon {
  width: var(--size2);
  height: var(--size2);

  &:hover {
    filter: brightness(1.2);
  }
}