
.ProjectAllProjectsCard{
  display: flex;
  width: max-content;
  align-items: center;
  gap: var(--size05);

  .profileProjectImg{
    --imgSize: 10rem;

    object-fit: cover;
    border-radius: 100%;
    width: var(--imgSize);
    height: var(--imgSize);

    &:hover {
      filter: brightness(1.03);
    }
  }

  .text {

    h4 {
      &:hover {
        color: var(--magenta);
      }
    }
  }

  .projectName {
    color: var(--purple);
    font-weight: bold;
  }
}