.myFormContainer {
  max-width: 25rem;
  display: flex;
  margin-inline: auto;
  padding-top: var(--size5);

  .myForm {
    width: 100%;
    text-align: center;

    display: flex;
    flex-direction: column;
    gap: var(--size2);

    .formTitle {
      color: var(--purple);
      font-size: var(--textM1);
      font-weight: bold;
    }

    .formSec {
      display: flex;
      gap: var(--size2);
      flex-wrap: wrap;
    }

    fieldset {
      font-size: var(--textSize5);
      border: none;
      padding: 0;
      display: flex;
      gap: var(--size05);
      flex-direction: column;
      text-align: left;

      input {
        background-color: transparent;
        color: var(--black);
        border: 2px solid var(--purple);
        border-radius: 7px;
        padding-inline: var(--size05);
        padding-block: var(--size05);

        &:hover {
          border: 2px solid var(--black);
        }
      }
    }

    .textareaBig {
      flex-direction: column;
  
      .textarea {
        background-color: transparent;
        padding: var(--size05);
        max-width: var(--offerFormWidth);
        border: 2px solid var(--purple);
        border-radius: 7px;
        scrollbar-width: none;
        height: 10rem;
      }
    } 

     .textareaLit {
      /* flex-direction: column; */
      display: flex;
  
      .textarea {
        background-color: transparent;
        max-width: var(--offerFormWidth);
        border: 2px solid var(--black50);
        border-radius: 7px;
        scrollbar-width: none;
        height: var(--size4);
      }
    }

    .loginRegisterLink {
      color: var(--aqua);
      &:hover {
        color: var(--mandarina);
      }
    }

    .buttons {
      display: flex;
      justify-content: center;
      gap: var(--size05);

      .accept {
        background-color: var(--aqua);
        &:hover {
          background-color: var(--mandarina);
        }
      }

      .cancel {
        background-color: var(--purple);
        &:hover {
          background-color: var(--magenta);
        }
      }
    }

    a {
      color: var(--color1);
      font-weight: 900;

      &:hover {
        color: var(--color3);
      }
    }
  }
}
