

.userCardWithButton {
  display: flex;
  justify-content: space-between;
  align-items: center;

  button {
    height: max-content;
  }
}

.userCard {
  display: flex;
  align-items: center;

}
.UserCardName {
  font-weight: bold;
}

.userCardAvatar {
  --AvatarSize: 6rem;

  width: var(--AvatarSize);
  height: var(--AvatarSize);
  background-color: var(--purple);
  border-radius: 100%;
  object-fit: cover;
  object-position: center;
  color: var(--aqua);
}

.creator {
  color: var(--aqua);
}
